
</body>
<footer>
    <br>
    <br>
    <a clas="insta" href="https://www.instagram.com/barknshine/?igshid=YmMyMTA2M2Y%3D"><button class="footerBtn" ><img class ="insta" src="/img/instaLogo.png"></button></a>
</footer>
</html>

