<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">

    <title>Nova's Closet</title>
</head>
<body>
<nav> 
    <a href="/novascloset"> Home </a> <br>
    <a href="/novascloset/bandanas"> Bandana's </a> <br>
    <a href="/novascloset/costumes"> Costume's </a> <br>
    <a href="/novascloset/treats"> Treat's </a> <br>
</nav>

<!-- <button class="hburger">
    <div class="bar"></div>
</button> -->
<h1 class="headTitle">
    Nova's Closet
    </h1>