<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova's Closet</title>
</head>
<body>
<nav> 
    <a href="/novascloset"> HOME </a> <br>
    <a href="/novascloset/bandanas"> Bandana's </a> <br>
   <br>
</nav>
