<%-include ('./partials/header.ejs')%>

<div class="credentials">
    <a class="registerF" href="/users/register">Register</a>
    <br>
    <a class="loginF" href="/users/login">Sign In</a>
    <br>
    <a class="logoutF" href="/users/logout">Sign Out</a>

</div>

<%-include ('./partials/footer.ejs')%>