<%-include ('./partials/header.ejs')%>
<style>
    .headTitle{
        display: none;
    }
</style>
<div class="home">
<h1 class="home"> 
    NOVA'S CLOSET
</h1>
<button class="homeBtns"><a href="/novascloset/bandanas"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9l0vIQ_Xs30ZKIQbcH9akT5bQFgTxy824dg&usqp=CAU"><br>NOVA'S BANDANA'S</a></button>
</div>

<%-include ('./partials/footer.ejs')%>