<%-include ('./partials/header.ejs')%>
<style>
    .headTitle{
        display: none;
    }
</style>
<div class="home">
<h1 class="home"> 
    NOVA'S CLOSET
</h1>
<button class="homeBtns"><a href="/novascloset/bandanas"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9l0vIQ_Xs30ZKIQbcH9akT5bQFgTxy824dg&usqp=CAU"><br>NOVA'S BANDANA'S</a></button>
<button class="homeBtns"><a href="/novascloset/costumes"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbl0LB6fsQmXuioT96g6LtYsthmtVyXiU9xI8rX7DX-8ldxO9e60OYeUOv5WI96Sawetw&usqp=CAU"><br>NOVA'S COSTUME'S</a></button>
<button class="homeBtns"><a href="/novascloset/treats"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3qpmXQSO7xkxb92VNfb8ImnBPMP0zcMkZlwqyxiiRucEb3cqdWqPa2u3tiKkDc7L00jM&usqp=CAU"><br>NOVA'S TREAT'S</a></button>
</div>

<%-include ('./partials/footer.ejs')%>