<%-include ('../partials/header.ejs')%>

<div class="bandanaNewContainer">
<h1>
    New Bandana?
</h1>
<form action="/novascloset/bandanas" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title"><br>

    <label for="img">Image Url: </label>
    <input type="text" name="img"><br>

    <label for="description">Description: </label>
    <input type="text" name="description"><br>

    <label for="price">Price: </label>
    <input type="text" name="price"><br>

    <label for="qty">Quantity: </label>
    <input type="text" name="qty"><br>

    <input type="submit" value="Create New Bandana">
</form>
</div>

<%-include ('../partials/footer.ejs')%>

